<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RentalBookBook</title>
</head>
<body>
  <a href="/authors">Back</a>
  <h1>Add New Author</h1>
  <form action="/authors/add" method="post">
    <div>
      <label for="">First Name</label><br>
      <input type="text" name="first_name">  
    </div>
    <br>
    <div>
      <label for="">Last Name</label><br>
      <input type="text" name="last_name">
    </div>
    <br>
    <div>
      <label for="">Age</label><br>
      <input type="number" name="age">
    </div>
    <br>
    <button type="submit">Submit</button>
  </form>
  <%- include('partial/errors.ejs') %> 
</body>
</html>