<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partial/head') %>
</head>
<body>
  <%- include('partial/adminAddEditNavbar') %> 
  <h1>Add New Author</h1>
  <form action="/authors/add" method="post" style="margin-left: auto;margin-right: auto;">
    <div>
      <label for="">First Name</label><br>
      <input type="text" name="first_name">  
    </div>
    <br>
    <div>
      <label for="">Last Name</label><br>
      <input type="text" name="last_name">
    </div>
    <br>
    <div>
      <label for="">Age</label><br>
      <input type="number" name="age">
    </div>
    <br>
    <button type="submit">Submit</button>
  </form>
  <%- include('partial/errors.ejs') %> 
</body>
</html>