<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RentalBookBook</title>
</head>
<body>
  <h1>RentalBookBook</h1>
  <p>Hai semuanya, kami adalah situs penyedia layanan rental buku secara online.</p>
  <a href="/books">Ini list buku kami</a>
</body>
</html>