<!DOCTYPE html>
<html lang="en">
<head>
  
  <%- include('partial/head') %> 

</head>
<body>
  <h1>RentalBookBook</h1>
  <div style="width: 50%;padding: 10px;text-align: center;">
    <a href="/login"><button type="button" class="btn btn-primary">Login</button></a>
    <a href="/register"><button type="button" class="btn btn-primary">Register</button></a>
  </div>
</body>
</html>