<!DOCTYPE html>
<html lang="en">
<head>

  <%- include('partial/head') %> 

</head>
<body>

  <%- include('partial/loginRegisterNavbar') %>
   
  <h1>Login</h1>
  <form action="/login" method="post" style="margin-left: auto;margin-right: auto;">
    <div>
      <label for="">EMAIL</label><br>
      <input type="text" name="email">
    </div>
    <br>
    <div>
      <label for="">PASSWORD</label><br>
      <input type="password" name="password">
    </div>
    <br>
    <button type="submit">LOGIN</button>
  </form>
  <% if (errors) { %>
    <p style="color: red;"><%= errors %></p>
  <% } %> 
</body>
</html>