<!DOCTYPE html>
<html lang="en">
<head>

  <%- include('partial/head') %>

</head>
<body>

  <%- include('partial/loginRegisterNavbar') %>
  
  <h1>Register New User</h1>
  <form action="/register" method="post" style="margin-left: auto;margin-right: auto;">
    <div>
      <label for="">EMAIL</label><br>
      <input type="text" name="email">
    </div>
    <br>
    <div>
      <label for="">PASSWORD</label><br>
      <input type="text" name="password">
    </div>
    <br>
    <div>
      <label for="">ROLE</label><br>
      <select name="role" id="">
        <option value="admin">admin</option>
        <option value="regular">regular </option>
      </select>
    </div>
    <br>
    <button type="submit">REGISTER</button>
  </form>
  <%- include('partial/errors.ejs') %> 
</body>
</html>