<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RentalBookBook</title>
</head>
<body>
  <a href="/">Home</a>
  <a href="/login">Login</a>
  <h1>Register New User</h1>
  <form action="/register" method="post">
    <div>
      <label for="">EMAIL</label><br>
      <input type="text" name="email">
    </div>
    <br>
    <div>
      <label for="">PASSWORD</label><br>
      <input type="text" name="password">
    </div>
    <br>
    <div>
      <label for="">ROLE</label><br>
      <input type="text" name="role">
    </div>
    <br>
    <button type="submit">REGISTER</button>
  </form>
</body>
</html>