<div>
    <form action="/<%= pages %>" method="get">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="search" name="search">
        <button type="submit" class="btn btn-primary" value="search">🔎</button>  
      </div>
    </form>
  </div>