<div>
    <form action="/books" >
      <div class="input-group">
        <input type="search" class="form-control" placeholder="search" name="search">
        <button type="submit" class="btn btn-primary">🔎</button>  
      </div>
    </form>
  </div>